.sign-in{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .title{
        margin:10px 0;
    }
    
    .buttons{
        display: flex;
        margin: 1em;
        padding:1em;
        .custom-button{
            margin-right: 25px;
        }
    }
}