.new-task{
    width: inherit;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 2rem;
    text-align: center;
    .buttons{
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 45% 0 45%;
    }
}