.new-task{
    width: inherit;
    align-items: center;
    position: relative;
    /* background-color: lightgrey; */
    border-radius: 5px;
    border: 10px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    .form{
        display: inline-flex;
    }
    .buttons{
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0rem 2rem 0rem 2rem;
    }
}