
.footer { 
  clear: both;
  font-family: monospace;
  left: 0;
  right: unset;
  bottom: 0;
  width: 25em;
  height: 3em;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  position: absolute;
}
  